In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Attempt 1: Read data, fill in missing values by: 

__1) aggregate mean at level of granularity of 'Country'__

__2) if NaN values still exist, replace with 0__

In [2]:
life_data = pd.read_csv('Life Expectancy Data.csv')
life_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [3]:
life_data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [4]:
# Rename some column names as they contain trailing spaces.
life_data.rename(
    columns={" BMI ":"BMI","Life expectancy ":"Life_Expectancy","Adult Mortality":"Adult_Mortality",
             "infant deaths":"Infant_Deaths","percentage expenditure":"Percentage_Exp","Hepatitis B":"HepatitisB",
             "Measles ":"Measles"," BMI ":"BMI","under-five deaths ":"Under_Five_Deaths","Diphtheria ":"Diphtheria",
             " HIV/AIDS":"HIV/AIDS"," thinness  1-19 years":"thin_1_19_y"," thinness 5-9 years":"thin_5_9_y",
             "Income composition of resources":"Income_Comp","Total expenditure":"Tot_Exp"},
    inplace=True)

In [5]:
life_data.head()

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,Polio,Tot_Exp,Diphtheria,HIV/AIDS,GDP,Population,thin_1_19_y,thin_5_9_y,Income_Comp,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
life_data.tail()

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,Polio,Tot_Exp,Diphtheria,HIV/AIDS,GDP,Population,thin_1_19_y,thin_5_9_y,Income_Comp,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [7]:
life_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            2938 non-null   object
 1   Year               2938 non-null   int64
 2   Status             2938 non-null   object
 3   Life_Expectancy    2928 non-null   float64
 4   Adult_Mortality    2928 non-null   float64
 5   Infant_Deaths      2938 non-null   int64
 6   Alcohol            2744 non-null   float64
 7   Percentage_Exp     2938 non-null   float64
 8   HepatitisB         2385 non-null   float64
 9   Measles            2938 non-null   int64
 10  BMI                2904 non-null   float64
 11  Under_Five_Deaths  2938 non-null   int64
 12  Polio              2919 non-null   float64
 13  Tot_Exp            2712 non-null   float64
 14  Diphtheria         2919 non-null   float64
 15  HIV/AIDS           2938 non-null   float64
 16  GDP                2490 non-null   float64
 17  Population         2286 non-null   float64
 18  thin_1_19_y        2904 non-null   float64
 19  thin_5_9_y         2904 non-null   float64
 20  Income_Comp        2771 non-null   float64
 21  Schooling          2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [8]:
life_data.isna().sum()

Country                0
Year                   0
Status                 0
Life_Expectancy       10
Adult_Mortality       10
Infant_Deaths          0
Alcohol              194
Percentage_Exp         0
HepatitisB           553
Measles                0
BMI                   34
Under_Five_Deaths      0
Polio                 19
Tot_Exp              226
Diphtheria            19
HIV/AIDS               0
GDP                  448
Population           652
thin_1_19_y           34
thin_5_9_y            34
Income_Comp          167
Schooling            163
dtype: int64

In [9]:
life_data.isnull().sum()

Country                0
Year                   0
Status                 0
Life_Expectancy       10
Adult_Mortality       10
Infant_Deaths          0
Alcohol              194
Percentage_Exp         0
HepatitisB           553
Measles                0
BMI                   34
Under_Five_Deaths      0
Polio                 19
Tot_Exp              226
Diphtheria            19
HIV/AIDS               0
GDP                  448
Population           652
thin_1_19_y           34
thin_5_9_y            34
Income_Comp          167
Schooling            163
dtype: int64

In [10]:
# total number of missing values in dataframe
life_data.isnull().sum().sum()

2563

In [11]:
# total data frame size
life_data.size

64636

In [12]:
# Number of rows and columns in data frame
life_data.shape

(2938, 22)

In [13]:
# percentage of missing values
life_data.isnull().sum().sum()/life_data.size * 100

3.965282505105514

In [14]:
# aggregate measures across whole columns in data set
print(life_data['Status'].mode()[0])
print(life_data['Life_Expectancy'].mean())

Developing
69.22493169398912

In [15]:
# aggregate measures at the level of granularity of 'Country'
print(life_data.groupby('Country')['Life_Expectancy'].mean())
print('-------------------------------------------------------')
print(life_data.groupby('Country')['Adult_Mortality'].mean())

Country
Afghanistan                           58.19375
Albania                               75.15625
Algeria                               73.61875
Angola                                49.01875
Antigua and Barbuda                   75.05625
                                        ...
Venezuela (Bolivarian Republic of)    73.38750
Viet Nam                              74.77500
Yemen                                 63.86250
Zambia                                53.90625
Zimbabwe                              50.48750
Name: Life_Expectancy, Length: 193, dtype: float64
-------------------------------------------------------
Country
Afghanistan                           269.0625
Albania                                45.0625
Algeria                               108.1875
Angola                                328.5625
Antigua and Barbuda                   127.5000
                                        ...
Venezuela (Bolivarian Republic of)    163.0000
Viet Nam                              126.5625
Yemen                                 211.8125
Zambia                                354.3125
Zimbabwe                              462.3750
Name: Adult_Mortality, Length: 193, dtype: float64

In [16]:
# access specific aggreagte measures at the level of granularity of 'Country'
print(life_data.groupby('Country')['Life_Expectancy'].mean()[0])
print('-------------------------------------------------------')
print(life_data.groupby('Country')['Adult_Mortality'].mean()[1])

58.193749999999994
-------------------------------------------------------
45.0625

In [17]:
# Columns with missing values
cols = ['Life_Expectancy', 'Adult_Mortality', 'Alcohol', 'HepatitisB',
       'BMI', 'Polio', 'Tot_Exp', 'Diphtheria', 'GDP', 'Population',
       'thin_1_19_y', 'thin_5_9_y', 'Income_Comp', 'Schooling']

In [18]:
# fill in missing values with aggregate mean at level of granularity of 'Country'
life_data['Life_Expectancy'] = life_data.groupby('Country')['Life_Expectancy'].transform(lambda x: x.fillna(x.mean()))
life_data['Adult_Mortality'] = life_data.groupby('Country')['Adult_Mortality'].transform(lambda x: x.fillna(x.mean()))
life_data['Alcohol'] = life_data.groupby('Country')['Alcohol'].transform(lambda x: x.fillna(x.mean()))
life_data['HepatitisB'] = life_data.groupby('Country')['HepatitisB'].transform(lambda x: x.fillna(x.mean()))
life_data['BMI'] = life_data.groupby('Country')['BMI'].transform(lambda x: x.fillna(x.mean()))
life_data['Polio'] = life_data.groupby('Country')['Polio'].transform(lambda x: x.fillna(x.mean()))
life_data['Tot_Exp'] = life_data.groupby('Country')['Tot_Exp'].transform(lambda x: x.fillna(x.mean()))
life_data['Diphtheria'] = life_data.groupby('Country')['Diphtheria'].transform(lambda x: x.fillna(x.mean()))
life_data['GDP'] = life_data.groupby('Country')['GDP'].transform(lambda x: x.fillna(x.mean()))
life_data['Population'] = life_data.groupby('Country')['Population'].transform(lambda x: x.fillna(x.mean()))
life_data['thin_1_19_y'] = life_data.groupby('Country')['thin_1_19_y'].transform(lambda x: x.fillna(x.mean()))
life_data['thin_5_9_y'] = life_data.groupby('Country')['thin_5_9_y'].transform(lambda x: x.fillna(x.mean()))
life_data['Income_Comp'] = life_data.groupby('Country')['Income_Comp'].transform(lambda x: x.fillna(x.mean()))
life_data['Schooling'] = life_data.groupby('Country')['Schooling'].transform(lambda x: x.fillna(x.mean()))

In [19]:
life_data.isna().sum()

Country                0
Year                   0
Status                 0
Life_Expectancy       10
Adult_Mortality       10
Infant_Deaths          0
Alcohol               17
Percentage_Exp         0
HepatitisB           144
Measles                0
BMI                   34
Under_Five_Deaths      0
Polio                  0
Tot_Exp               32
Diphtheria             0
HIV/AIDS               0
GDP                  405
Population           648
thin_1_19_y           34
thin_5_9_y            34
Income_Comp          167
Schooling            163
dtype: int64

In [20]:
life_data['HepatitisB'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2933    False
2934    False
2935    False
2936    False
2937    False
Name: HepatitisB, Length: 2938, dtype: bool

In [21]:
life_data.loc[pd.isna(life_data["HepatitisB"]), :].index

Int64Index([ 737,  738,  739,  740,  741,  742,  743,  744,  745,  746,
            ...
            2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777],
           dtype='int64', length=144)

In [22]:
life_data.loc[737]

Country                 Denmark
Year                       2015
Status                Developed
Life_Expectancy            86.0
Adult_Mortality            71.0
Infant_Deaths                 0
Alcohol                  10.708
Percentage_Exp              0.0
HepatitisB                  NaN
Measles                       9
BMI                        58.8
Under_Five_Deaths             0
Polio                      93.0
Tot_Exp                7.822667
Diphtheria                 93.0
HIV/AIDS                    0.1
GDP                  5314.64416
Population            5683483.0
thin_1_19_y                 1.1
thin_5_9_y                  0.9
Income_Comp               0.923
Schooling                  19.2
Name: 737, dtype: object

In [23]:
life_data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "Côte d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [24]:
# Columns with missing values
cols = ['Life_Expectancy', 'Adult_Mortality', 'Alcohol', 'HepatitisB',
       'BMI', 'Polio', 'Tot_Exp', 'Diphtheria', 'GDP', 'Population',
       'thin_1_19_y', 'thin_5_9_y', 'Income_Comp', 'Schooling']

In [25]:
# replace NaN values with 0 one column at a time using pandas
life_data['Life_Expectancy'] = life_data['Life_Expectancy'].fillna(0)
life_data['Adult_Mortality'] = life_data['Adult_Mortality'].fillna(0)
life_data['Alcohol'] = life_data['Alcohol'].fillna(0)
life_data['HepatitisB'] = life_data['HepatitisB'].fillna(0)
life_data['BMI'] = life_data['BMI'].fillna(0)
life_data['Polio'] = life_data['Polio'].fillna(0)
life_data['Tot_Exp'] = life_data['Adult_Mortality'].fillna(0)
life_data['Diphtheria'] = life_data['Diphtheria'].fillna(0)
life_data['GDP'] = life_data['GDP'].fillna(0)
life_data['Population'] = life_data['Population'].fillna(0)
life_data['thin_1_19_y'] = life_data['thin_1_19_y'].fillna(0)
life_data['thin_5_9_y'] = life_data['thin_5_9_y'].fillna(0)
life_data['Income_Comp'] = life_data['Income_Comp'].fillna(0)
life_data['Schooling'] = life_data['Schooling'].fillna(0)

In [26]:
# same as above.
# replace NaN values with 0 one column at a time using numpy
life_data['Life_Expectancy'] = life_data['Life_Expectancy'].replace(np.nan, 0)
life_data['Adult_Mortality'] = life_data['Adult_Mortality'].replace(np.nan, 0)
life_data['Alcohol'] = life_data['Alcohol'].replace(np.nan, 0)
life_data['HepatitisB'] = life_data['HepatitisB'].replace(np.nan, 0)
life_data['BMI'] = life_data['BMI'].replace(np.nan, 0)
life_data['Polio'] = life_data['Polio'].replace(np.nan, 0)
life_data['Tot_Exp'] = life_data['Adult_Mortality'].replace(np.nan, 0)
life_data['Diphtheria'] = life_data['Diphtheria'].replace(np.nan, 0)
life_data['GDP'] = life_data['GDP'].replace(np.nan, 0)
life_data['Population'] = life_data['Population'].replace(np.nan, 0)
life_data['thin_1_19_y'] = life_data['thin_1_19_y'].replace(np.nan, 0)
life_data['thin_5_9_y'] = life_data['thin_5_9_y'].replace(np.nan, 0)
life_data['Income_Comp'] = life_data['Income_Comp'].replace(np.nan, 0)
life_data['Schooling'] = life_data['Schooling'].replace(np.nan, 0)

In [27]:
life_data.loc[737]

Country                 Denmark
Year                       2015
Status                Developed
Life_Expectancy            86.0
Adult_Mortality            71.0
Infant_Deaths                 0
Alcohol                  10.708
Percentage_Exp              0.0
HepatitisB                  0.0
Measles                       9
BMI                        58.8
Under_Five_Deaths             0
Polio                      93.0
Tot_Exp                    71.0
Diphtheria                 93.0
HIV/AIDS                    0.1
GDP                  5314.64416
Population            5683483.0
thin_1_19_y                 1.1
thin_5_9_y                  0.9
Income_Comp               0.923
Schooling                  19.2
Name: 737, dtype: object

In [28]:
life_data.isna().sum()

Country              0
Year                 0
Status               0
Life_Expectancy      0
Adult_Mortality      0
Infant_Deaths        0
Alcohol              0
Percentage_Exp       0
HepatitisB           0
Measles              0
BMI                  0
Under_Five_Deaths    0
Polio                0
Tot_Exp              0
Diphtheria           0
HIV/AIDS             0
GDP                  0
Population           0
thin_1_19_y          0
thin_5_9_y           0
Income_Comp          0
Schooling            0
dtype: int64

### Attempt 2: Read data, fill in missing values by:

__1) aggregate mean at level of granularity of 'Country'__

__2) if NaN values still exist, replace with mean of whole column__

In [29]:
# read data again
life_data = pd.read_csv('Life Expectancy Data.csv')
life_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [30]:
# Rename some column names as they contain trailing spaces.
life_data.rename(
    columns={" BMI ":"BMI","Life expectancy ":"Life_Expectancy","Adult Mortality":"Adult_Mortality",
             "infant deaths":"Infant_Deaths","percentage expenditure":"Percentage_Exp","Hepatitis B":"HepatitisB",
             "Measles ":"Measles"," BMI ":"BMI","under-five deaths ":"Under_Five_Deaths","Diphtheria ":"Diphtheria",
             " HIV/AIDS":"HIV/AIDS"," thinness  1-19 years":"thin_1_19_y"," thinness 5-9 years":"thin_5_9_y",
             "Income composition of resources":"Income_Comp","Total expenditure":"Tot_Exp"},
    inplace=True)

In [31]:
life_data.head()

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,Polio,Tot_Exp,Diphtheria,HIV/AIDS,GDP,Population,thin_1_19_y,thin_5_9_y,Income_Comp,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [32]:
life_data.isna().sum()

Country                0
Year                   0
Status                 0
Life_Expectancy       10
Adult_Mortality       10
Infant_Deaths          0
Alcohol              194
Percentage_Exp         0
HepatitisB           553
Measles                0
BMI                   34
Under_Five_Deaths      0
Polio                 19
Tot_Exp              226
Diphtheria            19
HIV/AIDS               0
GDP                  448
Population           652
thin_1_19_y           34
thin_5_9_y            34
Income_Comp          167
Schooling            163
dtype: int64

In [33]:
# Columns with missing values
cols = ['Life_Expectancy', 'Adult_Mortality', 'Alcohol', 'HepatitisB',
       'BMI', 'Polio', 'Tot_Exp', 'Diphtheria', 'GDP', 'Population',
       'thin_1_19_y', 'thin_5_9_y', 'Income_Comp', 'Schooling']

In [34]:
# fill in missing values with aggregate mean at level of granularity of 'Country'
for column in cols:
    life_data[column] = life_data.groupby('Country')[column].transform(lambda x: x.fillna(x.mean()))

In [35]:
# same as above
for col in cols:
    life_data[col] = life_data[col].fillna(life_data.groupby('Country')[col].transform('mean'))

In [36]:
life_data.isna().sum()

Country                0
Year                   0
Status                 0
Life_Expectancy       10
Adult_Mortality       10
Infant_Deaths          0
Alcohol               17
Percentage_Exp         0
HepatitisB           144
Measles                0
BMI                   34
Under_Five_Deaths      0
Polio                  0
Tot_Exp               32
Diphtheria             0
HIV/AIDS               0
GDP                  405
Population           648
thin_1_19_y           34
thin_5_9_y            34
Income_Comp          167
Schooling            163
dtype: int64

In [37]:
# replace NaN values with average one column at a time using pandas
life_data['Life_Expectancy'].fillna((life_data['Life_Expectancy'].mean()), inplace=True)
life_data['Adult_Mortality'].fillna((life_data['Adult_Mortality'].mean()), inplace=True)
life_data['Alcohol'].fillna((life_data['Alcohol'].mean()), inplace=True)
life_data['HepatitisB'].fillna((life_data['HepatitisB'].mean()), inplace=True)
life_data['BMI'].fillna((life_data['BMI'].mean()), inplace=True)
life_data['Polio'].fillna((life_data['Polio'].mean()), inplace=True)
life_data['Tot_Exp'].fillna((life_data['Tot_Exp'].mean()), inplace=True)
life_data['Diphtheria'].fillna((life_data['Diphtheria'].mean()), inplace=True)
life_data['GDP'].fillna((life_data['GDP'].mean()), inplace=True)
life_data['Population'].fillna((life_data['Population'].mean()), inplace=True)
life_data['thin_1_19_y'].fillna((life_data['thin_1_19_y'].mean()), inplace=True)
life_data['thin_5_9_y'].fillna((life_data['thin_5_9_y'].mean()), inplace=True)
life_data['Income_Comp'].fillna((life_data['Income_Comp'].mean()), inplace=True)
life_data['Schooling'].fillna((life_data['Schooling'].mean()), inplace=True)

In [38]:
# same as above
life_data['Life_Expectancy'] = life_data['Life_Expectancy'].fillna((life_data['Life_Expectancy'].mean()))
life_data['Adult_Mortality'] = life_data['Adult_Mortality'].fillna((life_data['Adult_Mortality'].mean()))
life_data['Alcohol'] = life_data['Alcohol'].fillna((life_data['Alcohol'].mean()))
life_data['HepatitisB'] = life_data['HepatitisB'].fillna((life_data['HepatitisB'].mean()))
life_data['BMI'] = life_data['BMI'].fillna((life_data['BMI'].mean()))
life_data['Polio'] = life_data['Polio'].fillna((life_data['Polio'].mean()))
life_data['Tot_Exp'] = life_data['Tot_Exp'].fillna((life_data['Tot_Exp'].mean()))
life_data['Diphtheria'] = life_data['Diphtheria'].fillna((life_data['Diphtheria'].mean()))
life_data['GDP'] = life_data['GDP'].fillna((life_data['GDP'].mean()))
life_data['Population'] = life_data['Population'].fillna((life_data['Population'].mean()))
life_data['thin_1_19_y'] = life_data['thin_1_19_y'].fillna((life_data['thin_1_19_y'].mean()))
life_data['thin_5_9_y'] = life_data['thin_5_9_y'].fillna((life_data['thin_5_9_y'].mean()))
life_data['Income_Comp'] = life_data['Income_Comp'].fillna((life_data['Income_Comp'].mean()))
life_data['Schooling'] = life_data['Schooling'].fillna((life_data['Schooling'].mean()))

In [39]:
# same as above
life_data[cols] = life_data[cols].apply(lambda x: x.fillna(x.mean()), axis=0)

In [40]:
life_data.loc[737]

Country                 Denmark
Year                       2015
Status                Developed
Life_Expectancy            86.0
Adult_Mortality            71.0
Infant_Deaths                 0
Alcohol                  10.708
Percentage_Exp              0.0
HepatitisB            78.648111
Measles                       9
BMI                        58.8
Under_Five_Deaths             0
Polio                      93.0
Tot_Exp                7.822667
Diphtheria                 93.0
HIV/AIDS                    0.1
GDP                  5314.64416
Population            5683483.0
thin_1_19_y                 1.1
thin_5_9_y                  0.9
Income_Comp               0.923
Schooling                  19.2
Name: 737, dtype: object

In [41]:
life_data.isna().sum()

Country              0
Year                 0
Status               0
Life_Expectancy      0
Adult_Mortality      0
Infant_Deaths        0
Alcohol              0
Percentage_Exp       0
HepatitisB           0
Measles              0
BMI                  0
Under_Five_Deaths    0
Polio                0
Tot_Exp              0
Diphtheria           0
HIV/AIDS             0
GDP                  0
Population           0
thin_1_19_y          0
thin_5_9_y           0
Income_Comp          0
Schooling            0
dtype: int64

In [42]:
life_data.isnull().sum()

Country              0
Year                 0
Status               0
Life_Expectancy      0
Adult_Mortality      0
Infant_Deaths        0
Alcohol              0
Percentage_Exp       0
HepatitisB           0
Measles              0
BMI                  0
Under_Five_Deaths    0
Polio                0
Tot_Exp              0
Diphtheria           0
HIV/AIDS             0
GDP                  0
Population           0
thin_1_19_y          0
thin_5_9_y           0
Income_Comp          0
Schooling            0
dtype: int64

### Attempt 3: Read data, fill in missing values by:

__1) aggregate mean at level of granularity of 'Year'__

__2) if NaN values still exist, replace with mean of whole column__

In [43]:
# read data again
life_data = pd.read_csv('Life Expectancy Data.csv')
life_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [44]:
# Rename some column names as they contain trailing spaces.
life_data.rename(
    columns={" BMI ":"BMI","Life expectancy ":"Life_Expectancy","Adult Mortality":"Adult_Mortality",
             "infant deaths":"Infant_Deaths","percentage expenditure":"Percentage_Exp","Hepatitis B":"HepatitisB",
             "Measles ":"Measles"," BMI ":"BMI","under-five deaths ":"Under_Five_Deaths","Diphtheria ":"Diphtheria",
             " HIV/AIDS":"HIV/AIDS"," thinness  1-19 years":"thin_1_19_y"," thinness 5-9 years":"thin_5_9_y",
             "Income composition of resources":"Income_Comp","Total expenditure":"Tot_Exp"},
    inplace=True)

In [45]:
life_data.head()

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,Polio,Tot_Exp,Diphtheria,HIV/AIDS,GDP,Population,thin_1_19_y,thin_5_9_y,Income_Comp,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [46]:
life_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            2938 non-null   object
 1   Year               2938 non-null   int64
 2   Status             2938 non-null   object
 3   Life_Expectancy    2928 non-null   float64
 4   Adult_Mortality    2928 non-null   float64
 5   Infant_Deaths      2938 non-null   int64
 6   Alcohol            2744 non-null   float64
 7   Percentage_Exp     2938 non-null   float64
 8   HepatitisB         2385 non-null   float64
 9   Measles            2938 non-null   int64
 10  BMI                2904 non-null   float64
 11  Under_Five_Deaths  2938 non-null   int64
 12  Polio              2919 non-null   float64
 13  Tot_Exp            2712 non-null   float64
 14  Diphtheria         2919 non-null   float64
 15  HIV/AIDS           2938 non-null   float64
 16  GDP                2490 non-null   float64
 17  Population         2286 non-null   float64
 18  thin_1_19_y        2904 non-null   float64
 19  thin_5_9_y         2904 non-null   float64
 20  Income_Comp        2771 non-null   float64
 21  Schooling          2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [47]:
# To aggregate at level of Year, Year has to be string
life_data['Year'] = life_data['Year'].astype(str)

In [48]:
life_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            2938 non-null   object
 1   Year               2938 non-null   object
 2   Status             2938 non-null   object
 3   Life_Expectancy    2928 non-null   float64
 4   Adult_Mortality    2928 non-null   float64
 5   Infant_Deaths      2938 non-null   int64
 6   Alcohol            2744 non-null   float64
 7   Percentage_Exp     2938 non-null   float64
 8   HepatitisB         2385 non-null   float64
 9   Measles            2938 non-null   int64
 10  BMI                2904 non-null   float64
 11  Under_Five_Deaths  2938 non-null   int64
 12  Polio              2919 non-null   float64
 13  Tot_Exp            2712 non-null   float64
 14  Diphtheria         2919 non-null   float64
 15  HIV/AIDS           2938 non-null   float64
 16  GDP                2490 non-null   float64
 17  Population         2286 non-null   float64
 18  thin_1_19_y        2904 non-null   float64
 19  thin_5_9_y         2904 non-null   float64
 20  Income_Comp        2771 non-null   float64
 21  Schooling          2775 non-null   float64
dtypes: float64(16), int64(3), object(3)
memory usage: 505.1+ KB

In [49]:
# aggregate measures at the level of granularity of 'Year'
print(life_data.groupby('Year')['Life_Expectancy'].mean())
print('-------------------------------------------------------')
print(life_data.groupby('Year')['Adult_Mortality'].mean())

Year
2000    66.750273
2001    67.128962
2002    67.351366
2003    67.433333
2004    67.646448
2005    68.209290
2006    68.667760
2007    69.036066
2008    69.427869
2009    69.938251
2010    70.048634
2011    70.654098
2012    70.916940
2013    71.236066
2014    71.536612
2015    71.616940
Name: Life_Expectancy, dtype: float64
-------------------------------------------------------
Year
2000    181.475410
2001    175.169399
2002    171.437158
2003    169.131148
2004    186.262295
2005    167.633880
2006    170.404372
2007    159.808743
2008    174.519126
2009    163.393443
2010    161.863388
2011    156.535519
2012    148.792350
2013    148.765027
2014    148.688525
2015    152.863388
Name: Adult_Mortality, dtype: float64

In [50]:
print(life_data.groupby('Year')['Life_Expectancy'].mean()[0])
print('-------------------------------------------------------')
print(life_data.groupby('Year')['Adult_Mortality'].mean()[1])

66.75027322404374
-------------------------------------------------------
175.1693989071038

In [51]:
print(life_data.groupby('Year')['Life_Expectancy'].mean()['2000'])
print('-------------------------------------------------------')
print(life_data.groupby('Year')['Adult_Mortality'].mean()['2015'])

66.75027322404374
-------------------------------------------------------
152.86338797814207

__You can continue the code here...__